@model BigRock.Models.Person

@{
  ViewBag.Title = "Delete";
}

@{
  <h3>Are you sure you want to delete @Model.DisplayName?</h3>
}
<div>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.FirstName)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.MiddleName)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.MiddleName)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.LastName)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.FamilyCode)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.FamilyCode)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.SecurityCard)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.SecurityCard)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.TypeCode)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.TypeCode)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.TypeCodeOther)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.TypeCodeOther)
    </dd>

  </dl>
  <div style="clear: both; padding-top: 20px;">

    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()

      <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
      </div>
    }
  </div>
</div>
